/* table, tr, col {
    border: 1px solid black;
    border-collapse: collapse;
} */
tr {
    height: 20px;
}
col {
    width: 15%;
}
td {
    text-align: center;
    vertical-align: middle;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 14px;
}
.short-input {
    height: 12px;
    width: 50%;
    padding-bottom: 15px;
}
.long-input {
    height: 75px;
    width: 50%;
    padding-bottom: 15px;
}
.dashboard-task-table {
    width: 70%;

}
.dashboard-task-table {
    border: 1px solid black;
    border-collapse: collapse;
}
.dashboard-task-table td {
    border: 1px solid black;
    border-collapse: collapse;
}
.dashboard-task-table th {
    background-color: #513aa5;
    border: 1px solid white;
    padding: 10px;
}
.dashboard-task-table th a {
    color: white;
}

.odd-col {
    background-color: #eae8ee;
}
.even-col {
    background-color: white;
}