<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Time Tracker</title>
    <meta name="author" content="Jeff Martin">
</head>

<body>

    <div class="header">
        <header>
            <h1>Time Tracker</h1>
            <p>Plan out your day and track how well you stuck to your plan.</p>
        </header>
    </div>

    <div class="logger">
        <h2>Enter a task</h2>
    </div>

    <div class="active_tasks">
        <h2>Active Tasks</h2>
    </div>

    <div class="all_tasks">
        <h2>All Tasks</h2>
    </div>

</body>