{% load static %}

<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'task_time_tracker/bootstrap_style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'task_time_tracker/fontawesome-free/css/all.min.css' %}">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'task_time_tracker/style.css' %}">
  <title>{{ page_title }}</title>
</head>

<body>

  <div id="wrapper" class="flex-column flex-sm-row">

    <!-- Sidebar -->

    <ul id="side-navbar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark flex-row flex-sm-column justify-content-around align-items-center justify-content-sm-start px-3">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon pl-md-3">
          <i class="fas fa-stopwatch"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Task Time Tracker</div>
      </a>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0 d-none d-sm-block">

      <!-- Nav Item - New Task -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'new_task' %}">
          <i class="fas fa-fw fa-check-square"></i>
          <span>New Task</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0 d-none d-sm-block">

      <!-- Nav Item - New Project -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'new_project' %}">
          <i class="fas fa-fw fa-laptop-house"></i>
          <span>New Project</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0 d-none d-sm-block">

      <!-- Nav Item - Today's Tasks -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'todays_tasks' %}">
          <i class="fas fa-fw fa-list"></i>
          <span>Today's Tasks</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0 d-none d-sm-block">

      <!-- Nav Item - Incomplete Tasks -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'inactive_tasks' %}">
          <i class="fas fa-fw fa-boxes"></i>
          <span>Inactive Tasks</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0 d-none d-sm-block">

    </ul>
    <!-- End of Sidebar -->

    <!-- Main Area-->
    <div id="content-wrapper" class="d-flex flex-column">
      
      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow px-0 px-sm-3">
          
          <!-- Page Title -->
          <div class='col-xl-6'>
            <h1 class="navbar-nav" id="page-title">{{ page_title }}</h1>
          </div>

          <!-- Log In / Log Out -->
          <div class='col-xl-6'>
            {% if user.is_authenticated %}
              <p class='login-logout-signup'>
                <span class='top-right-content'>Welcome, {{ user.username }}</span>
                <span class='top-right-content'>|</span>
                <span class='top-right-content'><a href="{% url 'logout' %}?next={{request.path}}">Log Out</a></span>
              </p>
            {% else %}
              <p class='login-logout-signup'>
                <span class='top-right-content'><a id='login' href="{% url 'login' %}?next={{request.path}}">Log In</a></span>
                <span class='top-right-content'>|</span>
                <span class='top-right-content'><a id='signup' href="{% url 'signup' %}">Sign Up</a></span>
              </p>
            {% endif %}
          </div>
        </nav>
        
        <div class="container-fluid px-2 px-sm-3">

          {% block content %}
          {% endblock %}

        </div>
      </div>
    </div>
  </div>
</body>
</html>