/* Form fields */
.short-input {
    height: 2rem;
}

/* Footer */
.footer {
    background-color: gray;
}

/* Sidebar, navbar */
.sidebar-brand-text {
    color: white;
    text-align: left;
}
.sidebar-brand-icon img {
    height: 80px;
    width: 80px;
}
.sidebar-dark hr.sidebar-divider {
    border-top: 10px solid rgba(255, 255, 255);
}
.bg-gradient-primary {
    background-color: rgb(55, 128, 55);
    background-image: linear-gradient(180deg, rgb(55, 128, 55) 10%, rgb(89, 177, 89) 100%);
    background-size: cover;
}
.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Misc. template elements */
#page-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Cards */
.border-left-primary {
    border-left: 0.25rem solid rgb(206, 102, 18) !important;
}
.card-title {
    padding-bottom: 1rem;
    color: rgb(206, 102, 18) !important;
}
#todays-task-widget-title {
    color: rgb(206, 103, 18) !important;
}
.table {
    color: #212529 !important;
}

/* Summary stats */
.no-right-padding {
    padding-right: 0rem;
}
.sum-stat-title {
    padding-bottom: 0.5rem;
    font-weight: bold;
}
.sum-stat-num {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(119, 55, 128);
}
.sum-stat-col {
    flex: 0 0 21%;
    max-width: 21%;
}
.sum-stat-vl {
    flex: 0, 0, 1%;
    max-width: 1%;
    border-left: 1px solid green;
    height: 75.2px;
}

/* Buttons */
.btn-primary {
    border-color: #dddfeb;
    background-color: white;
    color: rgb(206, 102, 18)
}
.btn-margin-bottom {
    margin-bottom: 1rem;
}

/* Table */
th.orderable a {
    color: rgb(119, 55, 128);
}
tr.even td {
    vertical-align: middle;
}
tr.odd td {
    vertical-align: middle;
}
ul.pagination li.page-item a.page-link {
    color: rgb(206, 102, 18);
}
ul.pagination li.active a.page-link {
    color: white;
    background-color: rgb(206, 102, 18);
}
.login-logout-signup {
    display: flex;
    justify-content: right;
    align-items: center;
    color: rgb(99, 99, 99);
    margin-bottom: 0rem;
}
.top-right-content {
    margin-left: 5px;
    margin-right: 5px;
}