<DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Brought to you today by...">
    <meta name="author" content="Jeff Martin">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>theletterjeff.com</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
</head>

<body>
    <h1>theletterjeff</h1>
    <h2>Jeff Martin</h2>
    <p>Data storyteller, analytical researcher</p>
</body>